body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

.stopwatch-container {
  text-align: center;
  margin-top: 70px;
}

.display {
  font-size: 48px;
  margin: 25px 0;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}
